* {
    margin:0px;
    padding:0px;
}
  
body {
    background:#222526;
    position:relative;
    padding:20px;
    font-family:verdana;
} 
                                
#loginform {
    width:550px;
    height:auto;
    position:relative;
    margin:0 auto;
}

input {
    display:block;
    margin:0px auto 15px;
    border-radius:5px;
    background: #333333;
    width:85%;
    padding:12px 20px 12px 10px;
    border:none;
    color:#929999;                       
    box-shadow:inset 0px 1px 5px #272727;
    font-size:0.8em;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
    -ms-transition:0.5s ease;
    transition:0.5s ease; 
}

input:focus {
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
    -ms-transition:0.5s ease;
    transition:0.5s ease;  
    box-shadow: 0px 0px 5px 1px #161718;
}

button,
#passwordreset {
    background: #ff5f32;
    border:5px solid #222526;
    font-size:0.9em;
    color:#fff;
    font-weight:bold;
    cursor:pointer;
    width:90%;
    height:50px;
    text-align:center;
    margin: 0 auto 15px;
    display: block;
}

button:hover,
#passwordreset:hover {
    background:#222526;
    border-color:#ff5f32;
    }
  
*:focus {outline:none;}
::-webkit-input-placeholder {
    color:#929999;
}

:-moz-placeholder { /* Firefox 18- */
    color:#929999; 
}

::-moz-placeholder {  /* Firefox 19+ */
    color:#929999;  
}

:-ms-input-placeholder {  
    color:#929999; 
}

h1
{
    text-align:center;
    color:#fff;
    font-size:13px;
    padding:12px 0px;
}

#forgot,
#back {
    color:#fff;
    cursor: pointer;
    font-size: 0.8em;
    text-align:left;
    padding: 0 0 10px 25px;
    display: block;
}
    #forgot:hover,
    #back:hover { 
        text-decoration: underline;
    }

#facebook {
    display: none;
    text-align:center;
    background:#365195;
    padding:35px 10px 20px 10px;
    border-radius:3px;
    cursor:pointer;
    float: left;
    margin: 30px 15px;
}

.fa-facebook
{
    color:#fff;
    font-size:3em;
    display:block;
}

a {
    color:#88887a;
    text-decoration:none;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
    -ms-transition:0.5s ease;
    transition:0.5s ease;
}

a:hover {
    color:#fff;
    margin-left:5px;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
    -ms-transition:0.5s ease;
    transition:0.5s ease;
}

#mainlogin {
    padding:10px 15px;
    position:relative;
    background:#555555;
    border-radius:3px;
    overflow: auto;
}
#userinfo {
    display: none;
    margin-top: 20px;
    color: #fff;
    font-size: 10px;
    text-align: left;
    font-weight: bold;
    font-family: verdana;
    width: 50%;
    float: left;
}
    #userinfo p {
        margin: 15px 0;
        font-size: 12px;
    }
#link,
#unlink {
    font-weight: bold;
    color: #fff;
    font-size: 12px;
    text-align: left;
    font-family: verdana;
    text-align: center;
}

#or {
    position:absolute;
    left: -25px;
    top: 10px;
    background:#222222;
    text-shadow:0 2px 0px #121212;
    color:#999999;
    width:40px;
    height:40px;
    text-align:center;
    border-radius:50%;
    font-weight:bold;
    line-height:38px;
    font-size: 13px;
}
#resetform {
    display: none;
}
